<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-7">

            <div class="row">
                <div class="col-md-12">
                    <h2>{{pub.name}}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {{>ratingcard this}}</div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <table id="pubTable" class="table">

                        <tbody>
                        <tr>
                            <td>Your rating</td>
                            <td>
                                <div id="my-rating" class="starrr" data-rating='4'></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Website</td>
                            <td>
                                {{#if pub.url}}
                                    <a href="{{pub.url}}" target="_blank">{{pub.url}}</a>
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{pub.street}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{pub.town}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{pub.postcode}}</td>
                        </tr>
                        <tr>
                            <td>About</td>
                            <td>{{pub.about}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5" id="map-id">
        </div>
    </div>


</div>
<hr>


<script language="JavaScript">
    /**
     * Display the map
     */
    var map = new L.Map('map-id');

    // create the tile layer with correct attribution
    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

    var osm = new L.TileLayer(osmUrl,
            { minZoom: 5, maxZoom: 18, attribution: osmAttrib }).addTo(map);

    map.setView({ lat:{{pub.latitude}}, lng:{{pub.longitude}} }, 18);

    var marker = L.marker([{{pub.latitude}}, {{pub.longitude}}]).addTo(map);
    marker.bindPopup("<b>{{pub.name}}</b>");

    /**
     * Setup the search functionality
     */
    $(window).ready(function () {

        $("#search").on("submit", function (event) {
            event.preventDefault();
            var query = $("#q").val();

            doPubSearch(query, "{{locationiq_key}}");
        });

        $('#my-rating').on('starrr:change', function (e, value) {
            console.log("Changed my rating : " + value);

            var data = {};
            data.rating =  value;
            data.pid = {{pub.pid}};

            console.log(JSON.stringify( data ));

            $.ajax({
                type: "PUT",
                url: '/api/rating',
                contentType: "application/json",
                processData: false,
                data: JSON.stringify( data ),
                success: function (result) {
                    if (result.success) {
                       // alert("Update successful");
                    } else {
                        alert("There was an error while updating your rating - " + result.error);
                    }
                }
            });


        });

    });

    $(function () {
        $("#my-rating").starrr();

        return;
    });


</script>