<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <table id="pubTable" class="table display">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Distance</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                {{#each pubs}}
                    <tr id="pub_{{@index}}">
                        <td><a href="/pub/{{this.pid}}">{{this.name}}&nbsp</a></td>
                        <td>{{metres2km this.distance}} km&nbsp</td>
                        <td>
                            <div id="stars_{{@index}}" class="starrr"></div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </div>
        <div class="col-md-6" id="map-id">

        </div>
    </div>
</div>
<hr>


<script language="JavaScript">
    var table = null;

    $(document).ready(function () {
        table = $('#pubTable').DataTable({
            scrollY: 400,
            deferRender: true,
            scroller: true,
            paging: true,
            searching: false,
            order: [ [ 1, "asc" ] ]
        });
    });

    /**
     * Display the map
     */
    var map = new L.Map('map-id').setView(new L.LatLng(53, -2.5), 6.5);
    ;

    // create the tile layer with correct attribution
    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

    var osm = new L.TileLayer(osmUrl,
            { minZoom: 5, maxZoom: 18, attribution: osmAttrib }).addTo(map);

    map.setView({ lat:{{latitude}}, lng:{{longitude}} }, 14);

    /**
     * Put the markers for the pubs on the map
     */
        {{#each pubs}}
        var marker{{@index}} = L.marker([{{latitude}}, {{longitude}}]).addTo(map);
        marker{{@index}}.bindPopup("<b>{{name}}</b>");

        marker{{@index}}.on('click', function (e) {

            $('#pubTable').find('*').removeClass('highlight');
            $("#pubTable #pub_{{@index}}").addClass("highlight");

            var selection = $("#pubTable #pub_{{@index}}");
            var index = table.row(selection).index();
            table.row(index).scrollTo();
        });


        {{/each}}

    /**
     * Setup the search functionality
     */
    $(window).ready(function () {

        $("#search").on("submit", function (event) {
            event.preventDefault();
            var query = $("#q").val();

            doPubSearch(query, "{{locationiq_key}}");
        });

    });


        {{#each pubs}}
        $("#stars_{{@index}}").starrr({
            rating: {{rating}},
            readOnly: true

        });
        {{/each}}

</script>